<div class="contentWrap">
  <div class="mainIcon">
    <div class="mainIconContainer">
      <div class="textFolder">Portfolio</div>
    </div>
  </div>
  <div class="portfolioIconContainer">

    <ng-container *ngFor="let category of this.categories">
      <div class="iconProfileBack portfolioIcon" [ngStyle]="{'background-image':'url('+iconBack+')'}"
           (click)="selectCategory(category)">
        <div class="portfolioIconWrap">
          <div class="iconPortfolioFace"
               [ngStyle]="{'background-image':'url('+urlIconsProfile[category]+')'}"></div>
          <div class="textIcon">{{category}}</div>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="profileBox R">

      <ng-container *ngFor="let content of this.category" >

        <div class="categoryContent" [ngStyle]="{'background-image':'url('+content+')'}"
             (click)="contentClicked(content)"></div>
      </ng-container>
    <ng-container [ngSwitch]="viewBigWindow">
      <div class="bigContent"
           *ngSwitchCase="'visible'"
           [ngStyle]="{'background-image':'url('+this.bigContent+')'}"
      (click)="closeBigWindow()">
      </div>
    </ng-container>

  </div>
</div>
