<div class="educationWrap">
  <div class="educationLine" *ngFor="let education of info.education">
    <div class="educationContent">
      <div class="educationBoxName">date</div>
      <div class="educationBoxContent">{{education.date}}</div>
    </div>
    <div class="educationContent">
      <div class="educationBoxName">name</div>
      <div class="educationBoxContent">{{education.name}}</div>
    </div>
    <div class="educationContent">
      <div class="educationBoxName">place</div>
      <div class="educationBoxContent">{{education.place}}</div>
    </div>
  </div>
</div>
