<div class="educationWrap">
  <div class="educationLine" *ngFor="let experience of info.experience">
    <div class="educationContent">
      <div class="educationBoxName">date</div>
      <div class="educationBoxContent">{{experience.date}}</div>
    </div>
    <div class="educationContent">
      <div class="educationBoxName">name</div>
      <div class="educationBoxContent">{{experience.work}}</div>
    </div>
    <div class="educationContent">
      <div class="educationBoxName">place</div>
      <div class="educationBoxContent">{{experience.place}}</div>
    </div>
  </div>
</div>
