<div class="infoWrap">
  <div class="infoLine">
    <div class="infoName">name:</div>
    <div class="infoContent">{{info.name}}</div>
  </div>
  <div class="infoLine">
    <div class="infoName">family name:</div>
    <div class="infoContent"> {{info.familyName}}</div>
  </div>
  <div class="infoLine">
    <div class="infoName">e-mail:</div>
    <div class="infoContent">{{info.email}}</div>
  </div>
  <div class="infoLine">
    <div class="infoName">phone:</div>
    <div class="infoContent">{{info.telephone}}</div>
  </div>
  <div class="infoLine">
    <div class="infoName">language:</div>
    <div class="infoContent">{{info.language}}</div>
  </div>
</div>
