<div class="traitsWrap traitsContainer">

  <div class="speechContainer">
    <div class="mySpeech">
      All my life I have been working in the field of design and graphics and become a high-class
      specialist in this field. When faced with difficulties in my work, I am constantly looking for new ways to solve
      them.
    </div>
    <div class="mySpeech">
      Front-end development has always been of interest to me. And now after complete course at Netcraft, I'm ready to
      get
      use my graphic design skills to promote and develop your projects.
    </div>
  </div>
  <div class="traitsLineContainer">
    <div class="traitsLine" *ngFor="let traits of info.traits">
      <div class="traitsContent">{{traits}}</div>
    </div>

  </div>
</div>
