<div class="main">
  <div class="sideMenu">
    <div class="avatarWrap">
      <div class="avatarUp">
        <div class="avatar" [ngStyle]="{'background-image':'url(../../../../assets/png/14_avatar.png)'}"></div>
      </div>
    </div>
    <div class="navigateButtons">

      <div class="sideMenuButton profileButton" (click)="routeToProfile()">profile</div>
      <div class="sideMenuButton portfolioButton" (click)="routeToPortfolio()">portfolio</div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
